[Desktop Entry]
Type=Application
Name=Grassy
Comment=Minecraft Server Manager
Exec=/usr/local/bin/grassy
Terminal=false
Categories=Game;System;
Icon=grassy
