[Desktop Entry]
Name=Grassy
Comment=A minecraft server manager
Exec=grassy
Icon=grassy
Terminal=false
Type=Application
Categories=Utility;Games;
StartupWMClass=org.bongopoyo.grassy
